<% include partials/head %>
<% include partials/navbar %>  
    <main> 
        <div class="jumbotron"> 
            <h1> Blogs page </h1> 
        </div>
    </main> 

<% include partials/footer %> 

