<% include partials/head %> 
<% include partials/navbar %> 
    <main> 
        <div class="jumbotron">
        	<div class="container">  
           		<h3>Bao Tri Thai</h3>
           		<p>3rd year Computer Engineering (BS/MS) - Economics (BS) Double Major at Rochester Institute of Technology</p> 
           	</div>
        </div>
        <div class="container">
          <!-- Split in 3 (2-5-5)--> 
          <div class = "row">
          	<div class="col-md-2">
          		<!--Profile photo-->
            		<div class="thumnail">
                  <img src="pictures/black_metal_cat.jpg" alt="Profile Pic" style="max-height:200px" class="img-thumbnail">
    				    </div>
          	</div>
          	<div class="col-md-4">
          		<!--Contact Info-->
          		<h3>Contact Information</h3>
          		<p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 249 C Perkins Rd, Rochester, NY - 14623</p>
          		<p><span class="glyphicon glyphicon-phone"></span> 860-995-6531</p>
          		<p><i class="fa fa-github" aria-hidden="true"></i> https://github.com/thaitribao</p>
          		<p><i class="fa fa-linkedin" aria-hidden="true"></i> www.linkedin.com/in/bao-thai-587904103</p>
          	</div>
          	<div class="col-md-6">
          		<!-- Skill set in % format-->
              <h4>Programming Languages</h4>
              <table class="table">
							  <thead>
							    <tr>
							      <th>Language</th>
							      <th>Proficiency</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <th scope="row">C/C++</th>
							    	<td>
              				<div class="progress">
              					<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              				</div>
              			</td>
							    </tr>
							    <tr>
							      <th scope="row">VHDL/Verilog</th>
							      <td>
              				<div class="progress">
              					<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              				</div>
              			</td>
							    </tr>
							    <tr>
							      <th scope="row">Python</th>
							      <td>
              				<div class="progress">
              					<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              				</div>
              			</td>
							    </tr>
							    <tr>
							      <th scope="row">Java</th>
							      <td>
              				<div class="progress">
              					<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              				</div>
              			</td>							    
              		</tr>
							    <tr>
							      <th scope="row">Web Development</th>
							      <td>
              				<div class="progress">
              					<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              				</div>
              			</td>
							    </tr>							    							    
							  </tbody>
							</table>

              <h5>Software Tools</h5>
              <h5>Hardware Tools</h5>
          	</div>
         	</div>
         	<!-- Now split into 2 (3-9)--> 
         	<div class="row">
         		<div class="col-md-2">
         			<!--Left pane: Academic, Honors, ExtCur-->
         			<h4>Academic</h4>
         			<h4>Honors</h4>
         			<h4>Extracurricular</h4>
         		</div>
         		<div class="col-md-10">
         			<!--Right pane: Project + Experience --> 
         			<h4>Projects</h4>
         			<h4>Work Experiences</h4>
         		</div> 
         	</div>
        </div>
    </main> 
<% include partials/footer %> 