<% include partials/head %> 
<% include partials/navbar %> 
    <main> 
    	<!--Summary header --> 
        <div class="jumbotron"> 
            <h1> Projects page </h1> 
        </div>
    </main> 

<% include partials/footer %> 